<h1>Log In Below:</h1>

<form method="post" action='/sessions'>
    <p>Email: <input type="test" name="email"></p>
    <p>Password: <input type="test" name="password"></p>
    <p><input type="submit" value="Log In"></p>
</form>

