<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
    Email: <input id="email" type="text" name="email"><br>
    Password: <input id="password" type="text" name="password"><br>
    <br>
    <input type="submit" id="submit" value="Log In">
</form>
