<h1>Log In Below:</h1>


<form action='/sessions' method="POST">
 
  <br><label>email</label>
  
 <input type="text" name="email"><br/>
 <br/><label>password</label>

<input type="password" name="password">
  <input type="submit" value="Log In"><br/>
</form>
