<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  email: <input type="text" id="email" name="email">
  password: <input type="password" id="password" name="password">
  <input type="submit" id="login" value="Log In">
</form>