<h1>Log In Below:</h1>

<form action = '/sessions' method = "post">
  <h3> name: <input type = "text" id = "name" name = "name"></h3>
  <h3> email: <input type = "text" id = "email" name = "email"></h3>
  <h3> password: <input type = "text" id = "password" name = "password"></h3>
  <input type = "submit" id = "Log In">
</form>