<h1>Log In Below:</h1>
<form method="post" action="/sessions">
        
    <div class="item">
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" value="" />
    </div>

    <div class="item">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" value="" />
    </div>
    
    <input type="submit" id="Submit" value="Log In">
</form>
