<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Log In Below</title>
    </head>
    <body>
      <h1>Log In Below:</h1>
        <form action="/sessions" method="post">
            Email: <input id="email" type="text" name="email"><br>
            Password: <input id="password" type="text" name="password"><br>
            <input id="Submit" type="submit" value="Log In">
        </form>
    </body>
</html>
