<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  <label for="email_field">Email</label>
  <input type="text" name="email" id="email_field"><br>

  <label for="password_field">Password</label>
  <input type="text" name="password" id="password_field"><br>

  <input type="submit" value="Log In">
</form>
