<h1>Log In Below:</h1>

<form action="/sessions" method="post">
    Email: <input type="text" id="email" name="email"><br>
    Password: <input type="password" id="password" name="password"><br>
    <input type="submit" id="Log In" value="Login">
</form>