<h1>Log In Below:</h1>
<form method = "post" action = '/sessions'>
    <input type = "text" name = "name" id = "name">
    <input type = "text" name = "email" id = "email">
    <input type = "text" name = "password" id = "password">
    <p>Login<input type = "submit" id = "Log In"></p>
</form>
