<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
<p><label for "email">Email: </label>
<input type="text" id="email" name="email"></p>
<p><label for "name">Password: </label>
<input type="text" id="password" name="password"></p
<p><input type="submit" value="Log In"></p>
</form>
