<h1>Log In Below:</h1>
<form method='POST' action="/sessions">
  <label for="name">Email: </label>
  <input type="text" id="email" name="email" placeholder="e.g. harry@wizard.com"><br>
  <label for="name">Password: </label>
  <input type="text" id="password" name="password" placeholder="e.g. Iluvron"><br>
  <button type="submit">Log In</button>
</form>
