<h1>Log In Below:</h1>
<form method="post" action="/sessions">
    <label for="email">Email:</label>
    <p><input id="email" type="text" name="email"></p>
    <label for="password">Password:</label>
    <p><input id="password" type="text" name="password"></p>
    <button type="submit">Log In</button>
</form>
