<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <h3>Email:<input type="text" name="email" id="email"></h3>
  <h3>Password: <input type="password" name="password" id="password"></h3>
  <input type="submit" value="Log In">
</form>

