<h1>Log In Below:</h1>

<form action="/sessions" method="post">
E-Mail: <input type="text" name="email" id="email"> <br>
Password: <input type="text" name="password" id="pw"> <br> <br>
<input type="submit" id="Log In" value="Log In">
</form>