<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <p>
    <label>Email: </label>
    <input type="text" name="email">
    <br><label>Password: </label>
    <input type="text" name="password">
    <input type="submit" id="submit" value="Log In">
  </p>
</form>