<h1>Log In Below:</h1>
<form method='post' action='/sessions'>
<%# <p><label for ='name'> Name: </label>
<input type = 'text' Name = 'name' id = 'name'></p> %>
<p><label for ='email'> Email: </label>
<input type = 'email' Name = 'email' id = 'email'></p>
<p><label for ='password'> Password: </label>
<input type = 'password' Name = 'password' id = 'password'></p>
<button type ='submit' value="log_in" id ="log_in">Log In</button>
</form>

