<h1>Log In Below:</h1>
    <form method="POST" action="/sessions">
        User Email: <input type="text" name="email">
        User Password: <input type="text" name="password">
        <input type="submit" value="Login" id="Log In">
    </form>
