<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
    
    <label name="email">Email: </label>
    <input type="email" name="email" id="email">

    <label name="email">Password: </label>
    <input type="password" name="password" id="password">

    <input type="submit" id="submit" value="Log In">
</form>