<h1>Log In Below:</h1>
<form method="POST" action="/sessions">
 Name: <input type="text" id="name" name="name">
 Password: <input type="password" id="password" name="password">
 Email:<input type="text" id="email" name="email">
  <button type="submit" value="Log In">Log In</button>
</form>
