<h1>Log In Below:</h1>
<form action= '/sessions' method='Post'>
<label for='email'><strong>Email:</strong></label>
<input type='text' id='email' name='email' value='email'>
<label for='pasword'><strong>Password:</strong></label>
<input type='text' id='password' name='password' value='password'>
<input type='submit' value='Log In'> 
</form>