<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <ul>
      <label for="email">Email: </label>
      <input id="email" type="email" name="email">
    </input>
    </li>
    <li>
      <label for="password">Password: </label>
      <input id="password" type="password" name="password">
    </input>
    </li>
  </ul>
  <input type="submit" value="Log In">
</form>
