<h1>Log In Below:</h1>
<form method = "POST" action = "/sessions">
<p><label for="email">E-mail: </label>
<input type="text" id="e-mail" name="email"></p>
<p><label for="password">Password: </label>
<input type="text" id="password" name="password"></p><br>
<input type = "submit" value="Log In"> 
</form>

