<h1>Log In Below:</h1>

<form action='/sessions' method='POST'>
<label for="email">Email:</label>
<input type="text" id="email" name="email">
<label for="password">Password:</label>
<input type="text" id="password" name="password">
<button type="submit" id="Log In">Log In</button>
</form>