<h1>Log In Below:</h1>

<form action='/sessions' method='post'>
    <p>Email:<input id='email' name='email' type='text'>
    <p>Password:<input id='password' name='password' type='text'></br>
    <input value="Log In" type="submit">
</form>