<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <div>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email">
  </div><div>
    <label for="password">Password: </label>
    <input type="text" name="password" id="password">
  </div>

  <br>

  <button type="submit" id="submit">Log In</button>

</form>