<h1>Log In Below:</h1>
<form method=POST action="/sessions">
<p><strong>E-Mail:</strong> <input type="text" name="email" id="email"></p>
<p><strong>Password:</strong> <input type="text" name="password" id="password"></p>
<p><input type="submit" name="submit" id="Log In"></p>
</form>