<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
Your email: <input type="text" name="email" id="email">
Your password: <input type="text" name="password" id="password">
<input type="submit" value="Log In">
</form>