<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
  <p><label>Please enter your email:</label></p>
  <input type= "text" name= "email">
  <p><label>Please enter your password:</label></p>
  <input type= "text" name= "password">
  <br>
  <input type= "submit" value= "Log In">
</form>

