<h1>Log In Below:</h1>


<form action="/sessions" method="post">
  Email: <input type="text" name="user[email]">
  Password: <input type="text" name="student[password]">
  <input type="submit">
</form>
