<h1>Log In Below:</h1>

<form class="" action="/sessions" method="post">

  <label for="user[email]">Email: </label>
  <input type="text" id="email" name="email">

  <label for="user[password]">Password: </label>
  <input type="text" id="password" name="password">

  <input type="submit" id="login" value="Log In">
</form>
