<h1>Log In Below:</h1>
<form method='POST' action='/sessions'>
<p>Email: <input id='email' type='text' name='email'></p>
<p>Password: <input id='password' type='text' name='password'></p>
<input id='Log In' type='submit' name='Log In'>
</form>
