<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <label for="email">Email: </label>
  <input type="text" value="email" id="email" name="email"><br>
  <label for="password">Password: </label>
  <input type="text" value="password" id="password" name="password"><br>
  <input type="submit" value="Log In">
</form>