<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"></p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password"></p>
    <p><input type="submit" id="login" value="Log In"></p>
</form>
