h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  color: #4f7d4f;
}

a{
    
    margin-left: 300px;
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}

a.ex2:hover, a.ex2:active {font-size: 150%;}
