<!-- template for the user's homepage -->
<!-- rendered by the root route, get '/' -->
"Welcome, <%=@user.name%>!"

<a href="/sessions/logout">Log Out</a> <!-- link points us to the get '/sessions/logout route -->

