<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
  Name:<input type="text" id="name" name="name">
  Password:<input type="password" id="password" name="password">
  Email:<input type="text" id="email" name="email">
  <button type="submit" value ="Sign Up">Sign Up</button>
</form>

