<h1>Sign Up Below:</h1>
<form action='/registration' method='post'>
  <label>Name</label><br/>
  <input id='name' type='text'><br/>
  <label>Email</label><br/>
  <input id='email' type='text'>
  <br/>
  <label>Password</label><br/>
  <input id='password' type='password'>
  <input type='submit' value='Sign Up'>
</form>
