<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <h3>Name <input type="text" name="name" id="name"></h3>
  <h3>Email <input type="text" name="email" id="email"></h3>
  <h3>Password <input type="password" name="password" id="password"></h3>
  <input type="submit" value="Sign Up">
</form>
