<h1>Sign Up Below:</h1>
<form action= "/registrations" method="POST">
  <p><label>Please enter your name:</label></p>
  <input type="text" name="name">
  <p><label>Please a valid email:</label></p>
  <input type="text" name="email">
  <p><label>Please enter your password:</label></p>
  <input type= "text" name="password">
  <br>
  <input type= "submit" value="Sign Up">
</form>

