<form method="POST" action="/registrations">
<h1>Sign Up Below:</h1>
<p><label for="name">Name:</label>
<input type="text" id="name" name="name" /></p>
<br>
<p><label for="email">Email:</label>
<input type="text" id="email" name="email" /></p>
<br>
<p><label for="password">Password:</label>
<input type="text" id="password" name="password" /></p>
<br>
<input type="submit" id ="submit" value="Sign Up" />
</form>
