<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p>
    <label>Name: </label>
    <input type="text" name="name" value="Jerry Potter">
  </p>
  <p>
    <label>Email: </label>
    <input type="text" name="email" value="jp@hmail.com">
  </p>
  <p>
    <label>Password: </label>
    <input type="text" name="password" value="voldemortsucks">
  </p>
  <input type="submit" id="sign up" value="Sign Up">
</form>
