<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <p>
    <label for="username">Username:
      <input type="text" name="name" id="username">
    </label>
    <br>
    <label for="email">E-mail:
      <input type="text" name="email" id="email">
    </label>
    <br>
    <label for="password">Password:
      <input type="password" name="password" id="password">
    </label>
    <br>
    <input type="submit" value="Sign Up" id="submit">
  </p>
  
</form>
