<h1>Sign Up Below:</h1>
    <form action="/registrations" method="post">
        <h3>Name </h3>
        <input id="name" type="text" name="name"><br>
        <h3>Email </h3>
        <input id="email" type="text" name="email"><br>
        <h3>Password </h3>
        <input id="password" type="text" name="password"><br>
        
        <input type="submit" value="Sign Up"><br>
    </form>
