<h1>Sign Up Below:</h1>

<form method="post" action='/registrations'>
    <p>Name: <input type="test" name="name"></p>
    <p>Email: <input type="test" name="email"></p>
    <p>Password: <input type="test" name="password"></p>
    <p><input type="submit" value="Sign Up"></p>
</form>
