<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
<p>
<label for="name"> Name: </label> 
<input id="name" type="text" name="name"/>
</p>
<p>
<label for="email"> Email: </label>
<input id="email" type="text" name="email"/>
</p>
<p>
<label for="password"> Password: </label>
<input id="password" type="text" name="password"/>
</p>
<button for="submit">Submit</button>
</form>




