<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <h3><label for="name">Name: </label>
  <input type="text" id="name" name="name"></input></h3>

  <h3><label for="email">Email: </label>
  <input type="text" id="email" name="email"></input></h3>

  <h3><label for="password">Password: </label>
  <input type="text" id="password" name="password"></input></h3>

<input type="submit" value="Sign Up">

</form>
