<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
Your name: <input type="text" name="name" id="name">
Your email: <input type="text" name="email" id="email">
Your password: <input type="text" name="password" id="password">
<input type="submit" value="Sign Up">
</form>

