<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="name">

  <label for="name">Email:</label>
  <input type="text" name="email" value="email" id="email">

  <label for="name">Password:</label>
  <input type="text" name="password" value="password">

  <input type="submit" value="Sign Up">
</form>
