<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    <label for="user_name">Username:</label>
    <input type="text" name="name"/>
    <br>
    <br>
    <label for="user_name">Email:</label>
    <input type="text" name="email"/>
    <br>
    <br>
    <label for="user_password">Password:</label>
    <input type="text" name="password"/>
    <br>
    <br>
    <input type="submit" value="Sign Up"/>
</form>

<% #params[:username] %>
<% #params[:username] %>
<% #params[:password] %>
