<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p>
  <label for="name">Name:</label><br>
  <input id="name" type="text" name="name">
  </p>
  <p>
  <label for="email">Email:</label><br>
  <input id="email" type="text" name="email">
  </p>
  <p>
  <label for="password">Password:</label><br>
  <input id="password" type="text" name="password">
  </p>
  <input type="submit" value="Sign Up">
</form>
