<h1>Sign Up Below:</h1>
<form method='POST' action='/registrations'>
  <label for='Name'>Name:</label>
  <input type='text' id='Name' name='name'><br>
  <label for='Email'>Email:</label>
  <input type='text' id='Email' name='email'><br>
  <label for='Password'>Password</label>
  <input type='text' id='Password' name='password'><br>
  <input type="submit" value="Sign Up">
</form>
