<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <label for="name_field">Name</label>
  <input type="text" name="name" id="name_field"><br>

  <label for="email_field">Email</label>
  <input type="text" name="email" id="email_field"><br>

  <label for="password_field">Password</label>
  <input type="text" name="password" id="password_field"><br>

  <input type="submit" value="Sign Up">
</form>
