<h1>sign up below:</h1>

<form action='/registrations' method="POST">
  <br><label>name</label>
 
  <input type="text" name="name"></br>
  <br><label>email</label>
  
 <input type="text" name="email"><br/>
 <br/><label>password</label>

<input type="password" name="password">
  <input type="submit" value="Sign Up"><br/>
</form>
