<h1>Sign Up Below:</h1>

<form method= "POST" action="/registrations">
  Email: <input type="email" name="email">
  Password: <input type="text" name="password">
  
  <input type="submit" value="submit">
</form>