<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">

<label for="name"><strong>Name:</strong></label><br>
<input type="text" id="name" name="name"><br>

<label for="email"><strong>Email:</strong></label><br>
<input type="text" id="email" name="email"><br>

<label for="password"><strong>Password:</strong></label><br>
<input type="password" id="password" name="password"><br>

<input type="submit" value="Sign Up">
</form>

