<h1>Sign Up Below:</h1>


<form action="/registrations" method="post">
Name: <input type="text" name="name" id="name"> <br>
E-Mail: <input type="text" name="email" id="email"> <br>
Password: <input type="text" name="password" id="pw"> <br> <br>
<input type="submit" id="Sign Up" value="Sign Up">
</form>