<h1>Sign Up Below:</h1>
<form method="POST" action='/registrations'>
    <p><label for="username">Username</label>
    <input type="text" name="name" id="username" ></p>

    <p><label for="email">Email</label>
    <input type="email" name="email" id="email"></p>

    <p><label for="password">Password</label>
    <input type="password" name="password" id="password"></p>

    <input type="submit" id="submit" value="Sign Up">
</form>


