<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input id="hidden" type="hidden" name="_method" value="post">
  <label for="name" name="name">Name:</label>
  <input type="text" id="name" name="name">
  <label for="email" name="email">Email:</label>
  <input type="email" id="email" name="email">
  <label for="password" name="password">Password:</label>
  <input type="text" id="password" name="password">
  <input type="submit" value="Sign Up" id="submit">
</form>
