<h1>Sign Up Below:</h1>
    <form action="/registrations" method="POST">
        User Name: <input type="text" name="name">
        User Email: <input type="text" name="email">
        User Password: <input type="text" name="password">
        <input type="submit" value="Submit" id="Sign Up">
    </form>

