<h1>Sign Up Below:</h1>

<form action="/registrations" method="post"> 
    <label for="name"> Enter Your Preferd Username:</label>
    <input type="text" name="name" id="name"> 
    <label for="email"> Enter Your E-mail:</label> 
    <input type="text" name="email" id="email"> 
    <label for="password"> Enter Your Prefered Password:</label> 
    <input type="text" name="password" id="password">
<input type="submit" name="Sign Up" value="Sign Up"> </form>
