<h1>Sign Up Below:</h1>
<form action='/registrations' method='post'>
	<label for='name'>name:</label>
	<input type='text' name='name' id='name'>
	<br>
	<label for='name'>email:</label>
	<input type='text' name='email' id='email'>
	<br>
	<label for='name'>password:</label>
	<input type='text' name='password' id='password'>
	<input type="submit" name="Sign Up" id="Sign Up">
</form>