<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
    <h2>Username: <input type="text" name="name" id="name"></h2>
    <h2>Email: <input type="text" name="email" id="email"></h2>
    <h2>Password: <input type="text" name="password" id="password"></h2>
    <br>
    <input type="submit" value="Sign Up">
</form>
