<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
    <label for="name">Name:</label>
    <p><input id="name" type="text" name="name"></p>
    <label for="email">Email:</label>
    <p><input id="email" type="text" name="email"></p>
    <label for="password">Password:</label>
    <p><input id="password" type="text" name="password"></p>
    <button type="submit" class="signupbtn">Sign Up</button>
</form>