  <h1>Sign Up Below:</h1>
  <form method="post" action="/registrations">
        
    <div class="item">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" value="" />
    </div>

    <div class="item">
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" value="" />
    </div>

    <div class="item">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" value="" />
    </div>
    
    <input type="submit" id="Submit" value="Sign Up">
</form>

