<h1>Sign Up Below:</h1>

<form method=POST action="/registrations">

<p><strong>Name:</strong> <input type="text" name="name" id="name"></p>
<p><strong>E-Mail:</strong> <input type="text" name="email" id="email"></p>
<p><strong>Password:</strong> <input type="text" name="password" id="password"></p>
<p><input type="submit" name="submit" id="Sign Up"></p>

</form>