<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  Name: <input type="text" name="user[name]">
  Email: <input type="text" name="user[email]">
  Password: <input type="text" name="student[password]">
  <input type="submit">
</form>
