<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <p><label for="name">Name: </label><input type="text" name="name" value="your name" id="name"></p>
  <p><label for="email">Email: </label><input type="text" name="email" value="you@email.com" id="email"></p>
  <p><label for="password">Password: </label><input type="text" name="password" value="your password" id="password"></p>
  <p><input type="submit" name="Sign Up" id="Sign Up"</p>
</form>
