<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
 <p> Name: <input type="text" name="name" placeholder="Jon Doe">  </p>
  <p>Email: <input type="text" name="email" placeholder="jon@example.com"> </p>
  <p>Password: <input type="password" name="password" placeholder='whateveryouwant'> </p>
  <input type="submit" value="Sign Up">
</form>
