<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  name: <input type="text" id="name" name="name">
  email: <input type="text" id="email" name="email">
  password: <input type="password" id="password" name="password">
  <input type="submit" id="register" value="Sign Up">
</form>