<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name">
  <label for="email">email</label>
  <input type="text" name="email" id="email">
  <label for="password">password</label>
  <input type="text" name="password" id="password">
  <button type="submit">Sign Up</button>
</form>
