<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
<label for="name">Name:</label>
<input type="text" id="name" name="user[name]">

<label for="email">Email:</label>
<input type="text" id="email" name="user[email]">

<label for="password">Password:</label>
<input type="text" id="password" name="user[password]">

<input type="submit" value="Sign Up">
</form>



