<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <label for="fullname"> Name: </label>
  <input type="text" name="fullname" id="fullname">

  <label for="email"> Email: </label>
  <input type="text" name="email" id="email">

  <label for="password"> Password: </label>
  <input type="text" name="password" id="password">

  <label for="submit" name="submit"</label>
  <input type="submit" id="submit">

</form>
