<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Sign Up Below:</h1>
  <form action="/registrations" method="POST">
    <p><label>Name: <input type="text" name="name" id="name"></label></p>
    <p><label>Email: <input type="text" name="email" id="email"></label></p>
    <p><label>Password: <input type="password" name="password" id="password"></label></p>
    <p><input type="submit" value="Sign Up" id="submit"></p>
  </form>
</body>
</html>
