<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <label>Name:</label>
  <input type="text" name="name"></input><br>
  <label>Email:</label>
  <input type="text" name="email" id=:email></input><br>
  <label>Password:</label>
  <input type="text" name="password"></input><br>
  <input type="submit" value="Sign Up"></input>
</form>


