<h1>Sign Up Below:</h1>

<form action='/registrations' method='post'>
    <p>Name:<input id='name' name='name' type='text'>
    <p>Email:<input id='email' name='email' type='text'>
    <p>Password:<input id='password' name='password' type='text'></br>
    <input value="Sign Up" type="submit">
</form>

